.ysa-modal.ysa-modal_full#modal-register(data-controller="registerController")
    .ysa-modal_full-close
        a(data-dismiss="modal")
            +svgsprite('times')
    .ysa-modal_full-dialog
        .ysa-regbox
            .ysa-regbox-grid
                .ysa-regbox-grid-col
                    .ysa-regbox-page.-visible#regbox-reg
                        .ysa-regbox-container
                            .ysa-regbox-header
                                h2 #{__.register.header}

                                .ysa-regbox-subheader #{__.register.subheader}

                            .ysa-regbox-form
                                form.ysa-form(method="post", action="/report.php")
                                    .ysa-form-group
                                        .ysa-dropdown.ysa-dropdown_select
                                            a.ysa-dropdown_select-toggle
                                                span.ysa-dropdown_select-toggle-text #{__.register.roles[0]}
                                                span.ysa-dropdown_select-toggle-arr
                                                    +svgsprite('caret-down')
                                            .ysa-dropdown_select-menu
                                                .ysa-dropdown_select-menu-item
                                                    label
                                                        input(type="radio", name="role", value=__.register.roles[0], checked)
                                                        span #{__.register.roles[0]}
                                                .ysa-dropdown_select-menu-item
                                                    label
                                                        input(type="radio", name="role", value=__.register.roles[1])
                                                        span #{__.register.roles[1]}
                                                .ysa-dropdown_select-menu-item
                                                    label
                                                        input(type="radio", name="role", value=__.register.roles[2])
                                                        span #{__.register.roles[2]}
                                                .ysa-dropdown_select-menu-item
                                                    label
                                                        input(type="radio", name="role", value=__.register.roles[3])
                                                        span #{__.register.roles[3]}
                                                .ysa-dropdown_select-menu-item
                                                    label
                                                        input(type="radio", name="role", value=__.register.roles[4])
                                                        span #{__.register.roles[4]}
                                    .ysa-form-group
                                        input.ysa-form-input.-inverse(type="text", name="name", placeholder=__.register.name, required)
                                    .ysa-form-group
                                        input.ysa-form-input.-inverse(type="email", name="email", placeholder=__.register.email, required)
                                    .ysa-form-group
                                        input.ysa-form-input.-inverse(type="tel", name="tel", placeholder=__.register.tel, pattern="[0-9\\-\\s\\+\\(\\)]+", oninvalid="setCustomValidity('+7(999)000-11-22')", required)
                                    .ysa-form-submit
                                        .ysa-form-grid
                                            .ysa-form-grid-col
                                                button.ysa-btn.ysa-btn_flat(type="submit")
                                                    span #{__.register.submit}
                                            .ysa-form-grid-col
                                                button.ysa-btn.ysa-btn_flat.-transparent
                                                    span #{__.register.login}
                                    .ysa-form-agreement !{__.register.agreement}

                    .ysa-regbox-page#regbox-success(style="display:none")
                        .ysa-regbox-container
                            .ysa-regbox-notice
                                .ysa-regbox-header.-fluid
                                    h2 #{__.register.success.header}
                                .ysa-regbox-notice-text
                                    each t in __.register.success.text
                                        p #{t}
                                .ysa-regbox-back
                                    button.ysa-btn.ysa-btn_flat(data-dismiss="modal")
                                        span #{__.register.success.back}
                    .ysa-regbox-page#regbox-error(style="display:none")
                        .ysa-regbox-container
                            .ysa-regbox-notice
                                .ysa-regbox-header.-fluid
                                    h2 #{__.register.error.header}
                                .ysa-regbox-notice-text
                                    each t in __.register.error.text
                                        p #{t}
                                .ysa-regbox-back
                                    button.ysa-btn.ysa-btn_flat
                                        span #{__.register.error.retry}
