extends /_includes/layout

block title
    title #{__.intro.title}
    meta(name='description', content="#{__.intro.title}")

block content
    +navbar({toggleClass: "-inverse", langClass: "-inverse", buttonClass: "-white"}).-inverse

    .ysa-wrap#wrap-main(data-controller="introController")
        .ysa-slider
            .ysa-slider-nav
                a.ysa-slider-nav-item
                    span #{__.intro.slides[0].header}
                a.ysa-slider-nav-item.-active
                    span #{__.intro.slides[1].header}
                a.ysa-slider-nav-item
                    span #{__.intro.slides[2].header}
                a.ysa-slider-nav-item
                    span #{__.intro.slides[3].header}
                a.ysa-slider-nav-item
                    span #{__.intro.slides[4].header}
            .ysa-slider-bg
            .ysa-slider-items
                .ysa-slider-item
                    .ysa-intro
                        .ysa-intro-wrap
                            .ysa-intro-fill
                            .ysa-intro-bg
                                .ysa-intro-bg-img(style="background-image:url(/assets/img/club/bg.png)")
                            .ysa-intro-body
                                .ysa-intro-body-inner
                                    .ysa-intro-container
                                        .ysa-intro-header
                                            h4 #{__.intro.slides[0].title}
                                            h2 #{__.intro.slides[0].header}
                                        .ysa-intro-description
                                            each t in __.intro.slides[0].text
                                                p #{t}
                                        .ysa-intro-open
                                            a.ysa-btn.ysa-btn_open(href="/club/")
                                                span.ysa-btn_open-ring
                                                span.ysa-btn_open-shape
                                                    svg(viewbox='0 0 166 145', style='enable-background:new 0 0 169 145;')
                                                        path(d='M41,72.5 L41,0.3,103.5,36.4,166,72.5,103.5,108.6,41,144.7,41,72.5z')
                                                //span.ysa-btn_open-arr
                                                //    +svgsprite('arrow-right')
                                                span.ysa-btn_open-text #{__.intro.slides[0].more}
                                    .ysa-intro-num 01

                .ysa-slider-item
                    .ysa-intro.-even
                        .ysa-intro-wrap
                            .ysa-intro-fill
                            .ysa-intro-bg
                                .ysa-intro-bg-img(style="background-image:url(/assets/img/scout/bg.png)")
                            .ysa-intro-body
                                .ysa-intro-body-inner
                                    .ysa-intro-container
                                        .ysa-intro-header
                                            h4 #{__.intro.slides[1].title}
                                            h2 #{__.intro.slides[1].header}
                                        .ysa-intro-description
                                            each t in __.intro.slides[1].text
                                                p #{t}
                                        .ysa-intro-open
                                            a.ysa-btn.ysa-btn_open(href="/scout/")
                                                span.ysa-btn_open-ring
                                                span.ysa-btn_open-shape
                                                    svg(viewbox='0 0 166 145', style='enable-background:new 0 0 169 145;')
                                                        path(d='M41,72.5 L41,0.3,103.5,36.4,166,72.5,103.5,108.6,41,144.7,41,72.5z')
                                                //span.ysa-btn_open-arr
                                                //    +svgsprite('arrow-right')
                                                span.ysa-btn_open-text #{__.intro.slides[1].more}
                                    .ysa-intro-num 02

                .ysa-slider-item
                    .ysa-intro
                        .ysa-intro-wrap
                            .ysa-intro-fill
                            .ysa-intro-bg
                                .ysa-intro-bg-img(style="background-image:url(/assets/img/agent/bg.png)")
                            .ysa-intro-body
                                .ysa-intro-body-inner
                                    .ysa-intro-container
                                        .ysa-intro-header
                                            h4 #{__.intro.slides[2].title}
                                            h2 #{__.intro.slides[2].header}
                                        .ysa-intro-description
                                            each t in __.intro.slides[2].text
                                                p #{t}
                                        .ysa-intro-open
                                            a.ysa-btn.ysa-btn_open(href="/agent/")
                                                span.ysa-btn_open-ring
                                                span.ysa-btn_open-shape
                                                    svg(viewbox='0 0 166 145', style='enable-background:new 0 0 169 145;')
                                                        path(d='M41,72.5 L41,0.3,103.5,36.4,166,72.5,103.5,108.6,41,144.7,41,72.5z')
                                                //span.ysa-btn_open-arr
                                                //    +svgsprite('arrow-right')
                                                span.ysa-btn_open-text #{__.intro.slides[2].more}
                                    .ysa-intro-num 03

                .ysa-slider-item
                    .ysa-intro.-even
                        .ysa-intro-wrap
                            .ysa-intro-fill
                            .ysa-intro-bg
                                .ysa-intro-bg-img(style="background-image:url(/assets/img/coach/bg.png)")
                            .ysa-intro-body
                                .ysa-intro-body-inner
                                    .ysa-intro-container
                                        .ysa-intro-header
                                            h4 #{__.intro.slides[3].title}
                                            h2 #{__.intro.slides[3].header}
                                        .ysa-intro-description
                                            each t in __.intro.slides[3].text
                                                p #{t}
                                        .ysa-intro-open
                                            a.ysa-btn.ysa-btn_open(href="/coach/")
                                                span.ysa-btn_open-ring
                                                span.ysa-btn_open-shape
                                                    svg(viewbox='0 0 166 145', style='enable-background:new 0 0 169 145;')
                                                        path(d='M41,72.5 L41,0.3,103.5,36.4,166,72.5,103.5,108.6,41,144.7,41,72.5z')
                                                //span.ysa-btn_open-arr
                                                //    +svgsprite('arrow-right')
                                                span.ysa-btn_open-text #{__.intro.slides[3].more}
                                    .ysa-intro-num 04

                .ysa-slider-item
                    .ysa-intro
                        .ysa-intro-wrap
                            .ysa-intro-fill
                            .ysa-intro-bg
                                .ysa-intro-bg-img(style="background-image:url(/assets/img/player/bg.png)")
                            .ysa-intro-body
                                .ysa-intro-body-inner
                                    .ysa-intro-container
                                        .ysa-intro-header
                                            h4 #{__.intro.slides[4].title}
                                            h2 #{__.intro.slides[4].header}
                                        .ysa-intro-description
                                            each t in __.intro.slides[4].text
                                                p #{t}
                                        .ysa-intro-open
                                            a.ysa-btn.ysa-btn_open(href="/player/")
                                                span.ysa-btn_open-ring
                                                span.ysa-btn_open-shape
                                                    svg(viewbox='0 0 166 145', style='enable-background:new 0 0 169 145;')
                                                        path(d='M41,72.5 L41,0.3,103.5,36.4,166,72.5,103.5,108.6,41,144.7,41,72.5z')
                                                //span.ysa-btn_open-arr
                                                //    +svgsprite('arrow-right')
                                                span.ysa-btn_open-text #{__.intro.slides[4].more}
                                    .ysa-intro-num 05
